body{
  text-align: center;
}
.productContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.productContainer > .link{
width:300px;
box-shadow:0 0 15px rgb(82, 75, 75);
margin:15px;
align-items: center;
text-align: center;
}
.productContainer > .link:hover{
 background-color: lightgray;
  }
